<br />
<div class="media" id="comment_<%= comment.id %>">
	<a class="pull-left" href="#">
			<img class="media-object" src="http://placehold.it/64x64" alt="">
	</a>
	<div class="media-body">
		<p class="media-heading"><%= comment.content %>
		</p>
		<small>By <%= comment.commentor_name unless comment.commentor_name.blank? %> <%= event_time_format(comment.updated_at) %></small> 
		<%= link_to "Reply", new_article_comment_path(@article.id, reply_comment_id: comment.id), remote: :true %> 
		<%= link_to "Delete", [@article, comment], method: :delete, remote: :true if (current_user.id == comment.commentor_id) and (comment.replies_count == 0) %> 

		<!-- Nested Comment -->
		<div class="replies" id="comment_replies_<%= comment.id %>">
			<%= render "comments/replies", :comment => comment %>
		</div>
		<!-- End Nested Comment -->
	</div>
	<br />
</div>