<%= form_for [article, comment], remote: :true do |f| %>
	
	<div class="field">
		<%= f.text_area :content, :rows => 2, :class => "form-control" %>
	</div>

	<div class="field">
		<% if defined? reply_comment_id %>
			<%= f.hidden_field :reply_comment_id, value: reply_comment_id %>
		<% end %>
	</div>

	<%= f.hidden_field :commentor_id, 	value: current_user.id %>
	<%= f.hidden_field :commentor_name, value: current_user.name %>
	<br />
	<div class="actions">
		<%= f.submit "Comment", :class => "btn btn-primary pull-right" %>
	</div>
	<br />

<% end %>